.full-width {
  width: 100%;
}

main {
  margin-left: 2%;
  margin-right: 2%;
}

textarea {
  height: 40vh;
}

.row {
  margin-bottom: 2%;
}

mat-option {
  text-align: center;
}

.vertical-aligned {
  margin-top: auto;
  margin-bottom: auto;
}

.pallete-colored {
  color: #2da1e6;
}

.button-row {
  padding-left: 2%;
  padding-right: 2%;
}
