<div id="main-description">
  <h3 class="text-center">What is MinifyAll?</h3>

  <p>MinifyAll is an original tool made by <a class="hvr-pop" href="https://github.com/Josee9988"
                                              title="author of the page">@Josee9988 (<abbr
    title="Jose Gracia">jgracia</abbr>)</a> to minify your web resources easy and fast.</p>

  <p>The minifier supports up to 4 main languages: <abbr title="Cascade style sheet">CSS</abbr>, <abbr
    title="HyperText Markup Language">HTML</abbr>, <abbr title="JavaScript Object Notation">JSON</abbr> and
    <abbr title="JavaScript Object Notation C">JSON-C</abbr>. But we also allow the minimization of JavaScript via <a
      href="https://github.com/terser/terser" title="Terser plugin">Terser</a>.</p>

  <p>MinifyAll was created as a <abbr title="Microsoft Visual Studio Code">VSCode</abbr> extension, but it is now also
    available as a
    <a class="hvr-pop" href="https://github.com/Josee9988/MinifyAllCli" title="minifyall package cli">terminal command,
      npm package</a> to
    use in your projects, and as an online tool <a class="hvr-pop" href="{{url}}" title="the minfiyallweb webpage">(MinifyAllWeb)</a>.
  </p>

  <p>The project is <strong>open source</strong> and everyone can <em>freely contribute</em> for the improvement of the
    tool.</p>

  <p>The minifier uses <abbr title="Regular expressions">regex</abbr> as its main tool to minify the code, it finds
    unused spaces, and useless code and removes it to make your code lighter.
    Also, it is fully written in <a class="hvr-pop" href="https://www.typescriptlang.org/" title="typescript lang">TypeScript</a>!
  </p>

  <p>If you liked the minifier make sure you <a class="hvr-pop" href="https://www.buymeacoffee.com/josee9988"
                                                title="buymeacoffee site to donate"><em class="fas fa-coffee"></em>buy
    me a coffee.</a></p>

  <p>Thank you!</p>
</div>
