<h2 class="text-center">MinifyAll online</h2>
<h4 class="text-center">MinifyAll is a tool that will minify your code to make it lighter <i
  class="fas fa-feather-alt"></i></h4>
<br>

<!-- Select -->
<div class="row">
  <mat-form-field class="col-md-9">
    <mat-label>Language mode</mat-label>
    <mat-select class="text-center" matTooltip="Select the language in which your code will be minified"
                [(value)]="languageSelected">
      <mat-option *ngFor="let language of languages" [value]="language.value">
        <i class="{{language.faIcon}}"></i> {{language.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="col-md-3 vertical-aligned">
    <mat-slide-toggle [(ngModel)]="isHexMinifierEnabled" color="warn"
                      matTooltip="If the script should minify hexadecimal values or not (some colors may actually change a bit)">
      <i class="fas fa-palette" [ngClass]="{'pallete-colored': isHexMinifierEnabled}"></i> Minify colors
    </mat-slide-toggle>
  </div>
</div>

<!-- Textarea with the code to be minified (nonMinifiedCode) -->
<div class="row">
  <div class="col-md-6">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Code to be minified</mat-label>
      <label class="full-width">
        <textarea (paste)="autoDetectCode($event)" [formControl]="nonMinifiedCode" class="full-width"
                  matInput
                  placeholder="Your code to be minified"></textarea>
        <mat-error
          *ngIf="nonMinifiedCode.invalid && nonMinifiedCode.touched">{{getErrorMessage(nonMinifiedCode)}}</mat-error>
        <mat-hint *ngIf="nonMinifiedCode.invalid && nonMinifiedCode.touched">Please paste here your code to be minified.</mat-hint>
      </label>
    </mat-form-field>
  </div>

  <!-- Textarea with the code minified (minifiedCode) -->
  <div class="col-md-6">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Output code</mat-label>
      <label class="full-width">
        <textarea [(ngModel)]="minifiedCode" [ngModelOptions]="{standalone: true}" readonly class="full-width" matInput
                  placeholder="Your minified code (readonly field)"></textarea>
      </label>
    </mat-form-field>
    <button class="full-width hvr-pop" mat-stroked-button color="accent" [disabled]="minifiedCode===''"
            matTooltip="Copy your minified code to your clipboard" (click)="onCopyUrl()">
      <i class="fas fa-copy"></i> Copy text
    </button>
  </div>
</div>
<br>

<!-- Submit button -->
<button class="full-width hvr-hang" mat-raised-button color="primary" (click)="onSubmit()"
        matTooltip="Minify your code"><i class="fas fa-compress-alt"></i> Minify {{getLanguageFromSelected().value !== 0 ? getLanguageFromSelected().viewValue : ''}} code
</button>
