.full-width{
  width: 100%;
}

textarea{
  height: 45vh
}

.row{
  margin-bottom: 2%;
}

mat-option{
  text-align: center;
}

.vertical-aligned{
  margin-top: auto;
  margin-bottom: auto;
}

.pallete-colored{
  color:#2da1e6;
}
